@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Lisa Takabori";
}

<body>
    <img src="~/img/unnamed (2).jpg" class="burger" />
    <div class="blurb">
        <p>
            Through IS 413, I hope to prepare myself for the professional world of web development.
            I want to become skilled in C#, React, and ASP.NET so that I can increase my employability.
        </p>
        <br />
        <p>Top 3 Jobs</p>
        <ul class="jobs">
            <li>1. Anything Healthcare Related</li>
            <li>2. Product Management</li>
            <li>3. Web Development</li>
        </ul>
    </div>

</body>
